.active-ability-rect
  border: 0.5rem solid #74d5d9
  background-color: #e9ffff
  padding: 1rem 3rem
  vertical-align: middle

.triggered-ability-rect
  border: 0.5rem solid #ffa227
  background-color: #ffecdb
  padding: 1rem 3rem
  vertical-align: middle
