di-admin-page

  di-admin-command-tab
    display: flex
    flex-direction: column
    align-items: stretch

    .command-output
      flex-grow: 1
      margin-top: 15rem
      width: 100%

  di-admin-adventurer-tab
    > *