di-adventurer-page
  display: flex
  flex-direction: row

  .column
    display: flex
    flex-direction: column

  .something
    flex: 0 0 160rem

di-adventurer-pane, di-dungeon-adventurer-pane, di-combat-fighter-pane
  .top-section

    transition: background-color 0.2s
    &:hover
      background-color: #effaf8

    cursor: pointer
    padding: 6rem 12rem
    margin-bottom: 6rem

    > *
      margin-bottom: 6rem

di-adventurer-info

  .divider
    width: 0
    margin: 0 16rem
    border-right: 0.3rem solid #CCCCCC

  di-xp-bar
    margin-bottom: 15rem

  .bonuses-list
    width: 210rem

  di-stats-list
    width: 210rem

  .bonus-item
    margin-bottom: 0.2em
    padding: 0.2em
    align-items: center
    justify-content: space-between
    transition: background-color 0.3s

    &:hover
      background-color: #dfeaff

    > *
      margin-right: 0.20em
      white-space: nowrap

    img
      height: 1em
      margin-left: 1em