di-adventurer-page
  display: flex
  flex-direction: row

  .column
    display: flex
    flex-direction: column

  .stats-box
    flex-grow: 1

di-adventurer-well, di-dungeon-adventurer-well
  flex: 0 0 300rem !important

  .stats
    padding: 10rem