di-app
  display: flex
  flex-direction: column
  height: 100%
  align-items: center

  .page-title
    margin-top: 15rem
    margin-bottom: -15rem
    font-size: 15rem

  .content
    width: 100%
    max-width: 835rem
    flex-grow: 1
    display: flex
    align-items: stretch
    justify-content: center