di-bar, di-xp-bar, di-hp-bar
  display: flex
  height: 2.5em
  flex-direction: row
  align-items: stretch

  .bar-badge
    text-align: center
    background-color: white
    border: 0.2rem solid currentColor
    border-right: none
    display: flex
    align-items: center

    span
      padding: 0 0.8em

  .bar-border
    flex-grow: 1
    position: relative

    border: 0.5rem solid currentColor

    .bar-fill
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

      background-color: #DDD

    .bar-label
      $t: 0.2rem
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      white-space: nowrap

      color: currentColor
      //text-shadow: -$t -$t 0 #000, $t -$t 0 #000,-$t $t 0 #000, $t $t 0 #000

