.di-bar
  height: 2.5em
  display: flex
  flex-direction: row
  align-items: stretch

  .bar-badge
    background-color: white
    display: flex
    align-items: center
    justify-content: center
    margin-right: 10rem

    img
      height: 80%

    span
      padding: 0 0.8em

  .bar-border
    flex-grow: 1
    position: relative

    border: 0.5rem solid #BBB

    .bar-fill
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

      background-color: #DDD

    .bar-label
      $t: 0.2rem
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      white-space: nowrap

      > *
        padding-right: 3rem

      color: currentColor
      //text-shadow: -$t -$t 0 #000, $t -$t 0 #000,-$t $t 0 #000, $t $t 0 #000

di-xp-bar
  .bar-badge
    padding: 0 1em
    margin-right: 0 !important
    border: 0.5rem solid #BBB
    border-right: none