di-levelup-page

  .reroll
    margin-top: 10rem
    align-self: center

  .content-rows .text
    margin-top: 20rem
    flex-grow: 0 !important
    font-size: 1.2em
    text-align: center

  .options
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly

    .bonus-option
      display: flex
      flex-direction: row
      cursor: pointer
      align-items: center

      .bonus-arrow
        margin: 0 20rem

      di-bonus-details
        width: 220rem
        border: 2rem dotted currentColor

      &:hover
        di-bonus-details
          border-style: solid

di-bonus-details
  position: relative
  padding: 15rem 15rem 35rem
  display: flex
  flex-direction: column

  .header
    display: flex
    flex-direction: column
    padding-bottom: 5rem
    margin-bottom: 5rem
    font-weight: bold
    border-bottom: 1rem solid currentColor

    .name
      margin-bottom: 2rem

    .description
      font-size: 0.85em


  di-orb-row
    position: absolute
    right: 2rem
    bottom: 2rem
