di-chest-openage

  &[tier='2']
    $tierColor: #12c712
    .chest-description
      color: $tierColor
    .contents
      border-color: $tierColor

  .contents
    display: flex
    flex-direction: column
    margin: 20rem
    border: 1px solid

  h3
    margin-top: 0