di-combat-page

  di-bar.action
    margin-top: 0.25em
    height: 1.25em

  .mid-thing
    flex: 0 0 40rem !important
    display: flex
    align-items: center
    justify-content: center

  .feed
    flex: 0 0 50rem !important

  di-combat-fighter-pane
    > div > .flex-rows
      margin-top: -6rem
      > *
        margin-top: 6rem

  di-combat-time-controls

    .speed
      width: 55rem
      text-align: center

    .event-time-bar
      height: 1.1em
      .bar-border
        border: none
      .bar-label
        padding-top: 4px

  .buttons
    justify-content: space-between
    margin-left: 1px
    margin-top: 0.4em

    button
      margin-left: -1px
      width: 50rem