di-dungeon-event
  display: inline-block
  opacity: 1
  transition: opacity 0.3s

  &.fade-out
    opacity: 0

  .rewards
    color: mediumseagreen

di-dungeon-state
  font-family: 'Number Font', serif

di-dungeon-page
  .subpage
    display: flex
    > *
      flex: 1 1