di-dungeon-event
  display: flex
  flex-direction: column
  opacity: 1
  transition: opacity 0.3s
  height: 100%

  > *
    margin-top: 6rem
    flex-shrink: 0

  .time-bar
    width: 100%
    height: 4rem

    .bar-border
      border: none

  &.fade-out
    opacity: 0

  .rewards
    padding-top: 8rem
    color: mediumseagreen

  .room-image
    height: 75%
    display: flex
    justify-content: center
    align-items: center

    img
      height: 100%

  .room-contents
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

di-dungeon-state
  font-family: 'Number Font', serif

di-dungeon-page
  position: relative

  .page
    display: flex
    > *
      flex: 1 1

  .share-link
    position: absolute
    right: 5rem
    bottom: 5rem

di-timeline-controls

  .event-time-bar
    height: 1.1em
    margin-bottom: 0.4em
    .bar-border
      border: none
    .bar-label
      padding-top: 4px

  .buttons
    justify-content: space-between
    margin-left: 1px

    button
      margin-left: -1px
      width: 50rem