di-dungeon-event
  display: flex
  flex-direction: column
  opacity: 1
  transition: opacity 0.3s

  > *
    margin-top: 6rem

  .time-bar
    width: 100%
    height: 4rem

    .bar-border
      border: none

  &.fade-out
    opacity: 0

  .rewards
    color: mediumseagreen

di-dungeon-state
  font-family: 'Number Font', serif

di-dungeon-page
  position: relative

  .subpage
    display: flex
    > *
      flex: 1 1

  .share-link
    position: absolute
    right: 5rem
    bottom: 5rem