di-loadout-object-details

  display: flex
  gap: 10rem
  line-height: 1.5em
  flex-direction: column

  > *
    display: inline-flex
    gap: 5rem

    //di-orb-row
    //  font-size: 0.9em
    //> *
    //  display: inline-block
    //  vertical-align: middle
    //
    //di-orb-entry
    //  padding: 0