di-effect-details

  display: flex
  gap: 10rem
  line-height: 1.5em
  flex-direction: column

  > *
    display: inline
    //
    //> *
    //  margin-right: 7px

    di-orb-entry
      display: inline-flex

    //di-orb-row
    //  font-size: 0.9em
    //> *
    //  display: inline-block
    //  vertical-align: middle
    //
    //di-orb-entry
    //  padding: 0