.flying-text-effect
  position: absolute
  opacity: 1
  transform: translate(-50%, -50%)
  will-change: transform

  span
    font-size: 20rem
    -webkit-text-stroke-color: white
    -webkit-text-stroke-width: 0.01rem
    -webkit-text-fill-color: currentColor