form

  border: 1rem solid #BBB
  padding: 20rem 30rem
  text-align: center

  button
    margin-bottom: 1.5em

  label
    display: block
    margin-bottom: 10rem

  .error-message
    color: red
    display: block
    font-size: 0.9em