form
  padding: 20rem 30rem
  text-align: left
  display: flex
  flex-direction: column

  input
    text-align: center

  label
    display: flex
    flex-direction: column
    align-items: stretch
    margin-bottom: 10rem

    span
      margin-bottom: 5rem
      font-size: 0.8em

  .error-message
    color: red
    display: block
    font-size: 0.8em
    margin-top: 1.5rem

di-modal form
  border: none
  padding: 0
  min-width: 200rem