di-header
  padding: 10rem 30rem
  width: 100%
  flex-basis: 40rem
  flex-shrink: 0

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  box-shadow: 0 -5rem 10rem black
  box-sizing: border-box

  .user-info
    position: relative
    border: 1px solid #CCC
    font-size: 12rem
    padding: 8rem 12rem

  .back-button.hidden
    visibility: hidden

@media (max-aspect-ratio: 1/1)
  di-header
    flex-basis: 65rem