di-header
  padding: 10rem 30rem
  width: 100%
  flex-basis: 40rem
  flex-shrink: 0
  background-color: white
  position: relative

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  box-shadow: 0 -5rem 10rem black
  box-sizing: border-box

  .title-text
    font-size: 2em
    -webkit-text-stroke: 0.1rem white

  .user-info
    position: relative
    border: 1px solid #CCC
    font-size: 12rem
    padding: 8rem 12rem
    align-self: center

  .left-side
    display: flex

    .back-button
      font-size: 2em
      padding: 0 5rem
      border: none
      margin-right: 10rem

  .right-side
    display: flex
    flex-direction: row

    > *
      margin-left: 8rem

    .gold-button, .scrap-button
      min-width: 50rem
      cursor: pointer

      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      font-size: 1.2em
      font-weight: bold

      img, i
        display: inline-block
        font-size: 2em
        height: 35rem
        line-height: 1.3em

      &.locked
        cursor: default
        opacity: 0.5
        border: none

      &:hover
        background-color: #EEE


@media (max-aspect-ratio: 1/1)
  di-header
    flex-basis: 75rem