di-adventurer-item-row

  .border
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 2rem
    height: 100%
    border: 0.5rem solid #BBB

  > div:first-child
    padding-left: 6rem

  .count-tab
    border: 0.5rem solid #BBB
    padding: 2rem 5rem
    margin-right: 6rem
    color: black

  .name
    color: black

  > di-orb-row
    font-size: 0.9em

di-list.clickable-rows di-loadout-row
  cursor: pointer
  &:hover di-bar
    background-color: #b8ffb8
  &.selected di-bar
    background-color: #dfeaff