di-levelup-page

  .options
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly

    di-bonus-details
      min-width: 200rem
      min-height: 100rem
      padding: 15rem 15rem 35rem
      border: 2rem dotted currentColor
      cursor: pointer
      position: relative

      .header
        display: flex
        flex-direction: row
        padding-bottom: 5rem
        margin-bottom: 5rem
        border-bottom: 1rem solid currentColor
        font-weight: bold

      &:hover
        border-style: solid

      di-orb-row
        position: absolute
        right: 5rem
        bottom: 5rem