$margin: 30rem

di-list
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-bottom: -$margin

  .items
    flex-grow: 1
    display: flex
    flex-direction: column
    margin-bottom: $margin

    > *
      margin-bottom: 2%

  .pagination-buttons
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin-bottom: $margin

    button
      border: none