$margin: 30rem

di-list
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

  .items
    flex-grow: 1
    display: flex
    flex-direction: column
    margin-bottom: $margin

  .pagination-buttons
    display: flex
    flex-direction: row
    justify-content: space-evenly

    button
      border: none