.loadout-container
  flex: 0 0 300rem
  position: relative

  > *
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

di-loadout-row-state

  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0

  box-sizing: border-box
  overflow: hidden

  &[display-style="skill"] .cooldown
    border-radius: 20rem
  .di-bar
    background-color: transparent
  .di-bar .bar-border
    border: none !important

  &.disabled
    opacity: 0.5
    background-color: #FFF

  di-item-row
    height: 100%
    position: absolute
    width: 100%
    box-sizing: border-box

  .new-badge
    position: absolute
    top: -6rem
    left: -12rem
    width: 20rem
    height: 12rem
    border-radius: 4rem
    font-size: 10rem
    color: white
    background-color: red
    font-family: Arial, serif

  .cooldown
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100%
    border: 1rem solid #888
    box-sizing: border-box
    overflow: hidden

    .bar-foreground
      opacity: 0.22

  &[ability-state="not-ready"]
    border-width: 2rem

  &[ability-state=ready]
    .cooldown
      border-width: 2rem
    &[ability-type=active] .cooldown
      border-color: #74d5d9
    &[ability-type=nonactive] .cooldown
      border-color: #ffa227
    &.next
      filter: drop-shadow(1rem 1rem 0.75rem #74d5d9)

  &.extreme
    outline: 1rem solid #c3a2ff
    box-shadow: 0 0 4px 2px #c3a2ff

  //&[ability-cooldown-state=disabled]
  //  opacity: 0.4

  .dots
    position: absolute
    bottom: -1rem
    left: 6rem
    .dot
      border-radius: 50%
      background-color: white
      display: inline-block
      width: 5rem
      height: 5rem
      border: 1rem solid black
      margin-right: 2rem