di-loadout
  flex: 0 0 300rem !important

  .orb-row
    height: 14rem
    display: flex
    align-items: center

    img
      height: 60%
      margin-right: 5rem

  .blank-row
    border: 0.5rem dashed #CCC

  di-loadout-row
    border: 0.5rem solid #CCC

  di-list
    flex-grow: 1