$margin: 25rem
$rowMargin: 10rem

di-main-page

  > *
    flex-basis: 440rem
    margin: 0 $margin 0 0

  .adventurer-row
    height: 52rem
    margin: $rowMargin $rowMargin 0
    padding: 4rem 8rem

    .status
      color: red


@media (max-aspect-ratio: 1/1)

  di-main-page

    > *
      flex-basis: initial