$margin: 25rem
$rowMargin: 10rem

di-main-page

  > *
    flex-basis: 440rem
    margin: 0 $margin 0 0

  di-main-adventurer-row
    height: 52rem
    margin: $rowMargin $rowMargin 0
    font-size: 1em
    border: 1rem solid black
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center

    &:hover
      background-color: #EEE

    .status
      color: red


@media (max-aspect-ratio: 1/1)

  di-main-page

    > *
      flex-basis: initial