$margin: 25rem

di-page-main
  display: flex
  justify-content: center
  align-items: stretch
  margin-right: -$margin

  flex-direction: row

  > *
    flex-basis: 440rem
    margin: 0 $margin 0 0

  //@media (max-aspect-ratio: 1/1)