$padding: 20rem

.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1000

  .underlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.15)

  .inner-pane
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: white
    border: 1rem solid #666
    padding: $padding
    font-size: 12rem
    max-height: 90%
    //overflow: hidden

    .close-button
      position: absolute
      right: 0
      top: 0
      width: 1.5em
      height: 1.5em
      background-color: white
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center


      &:hover
        color: red

  > .content
    white-space: pre-line

  .buttons
    border-top: 1rem solid #555
    margin-top: $padding
    padding-top: $padding
    display: flex
    justify-content: end

    button
      padding: 4rem 16rem
      margin-left: 2rem
      transition: background-color 0.3s ease, color 0.3s ease

      &.style-scary
        border-color: #d25050
        background-color: #d25050
        color: white
        &:hover
          color: #d25050
          background-color: white

      &.style-good
        border-color: #8eb48e
        background-color: #8eb48e
        color: white
        &:hover
          color: #8eb48e
          background-color: white

