di-orb-row
  display: flex
  align-items: center

  &.no-tooltips
    pointer-events: none

  di-orb-entry
    display: flex
    font-weight: bold
    transition: background-color 0.3s ease
    padding: 3rem 6rem
    align-items: center

    &:hover
      background-color: #DDD

    &.error
      color: red !important

    svg
      height: 1em
      width: 1em
      margin-left: 0.25em
      margin-bottom: 1.5rem