di-orb-row
  display: flex
  align-items: center
  font-size: 1.2em
  z-index: 1

  &.no-tooltips
    pointer-events: none

  &.loadout-orb-row
    justify-content: space-around
    margin-bottom: 5rem

    di-orb-entry
      position: relative
      justify-content: center
      flex-grow: 1
      z-index: -1
      padding: 5rem 0

      &:before
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        opacity: 0.15
        background-color: currentColor
        pointer-events: none

  di-orb-entry
    display: flex
    font-weight: bold
    transition: background-color 0.3s ease
    padding: 3rem 6rem

    &:hover
      background-color: #DDD

    &.error
      color: red !important

    img
      height: 1em
      width: 1em
      margin-right: 0.25em