$margin: 25rem
$smallMargin: 5rem

di-app .page
  display: flex
  align-items: stretch
  padding: $margin
  flex-grow: 1
  //overflow: hidden
  box-sizing: border-box
  max-height: 100%
  gap: $margin

  > *
    flex: 1 1

  .content-columns
    display: flex
    flex-direction: row
    align-items: stretch
    gap: $margin

    > *
      flex-grow: 1
      flex-shrink: 0
      flex-basis: 0

  .content-rows
    display: flex
    flex-direction: column
    align-items: stretch
    gap: $margin

    > *
      flex-grow: 1
      flex-shrink: 0
      flex-basis: 0

  .content-well
    background-color: white
    position: relative
    border: 1rem solid #BBB
    padding: 6rem

    &.scrollable
      overflow-y: auto

    &.grow
      flex-grow: 1 !important

    &.clickable:hover
      background-color: #F8F8F8
      color: #6f46b0

  .content-no-grow
    flex-grow: 0
    flex-basis: initial

@media (max-aspect-ratio: 9/8)

  di-app .page
    padding: $smallMargin
    gap: $smallMargin

    .content-columns, .content-rows
      gap: $smallMargin

    .tabz-content
      padding: 15rem $smallMargin $smallMargin

    .hinter
      margin: 0 -$smallMargin

    di-top-thing
      margin-bottom: 0 !important