$margin: 25rem

di-app .page
  display: flex
  align-items: stretch
  margin: $margin
  flex-grow: 1

  > *
    flex: 1 1

  .content-columns
    display: flex
    flex-direction: row
    align-items: stretch
    margin-right: -$margin

    > *
      margin-right: $margin
      flex-grow: 1
      flex-shrink: 0
      flex-basis: 0

  .content-rows
    display: flex
    flex-direction: column
    align-items: stretch
    margin-bottom: -$margin

    > *
      margin-bottom: $margin
      flex-grow: 1
      flex-shrink: 0
      flex-basis: 0

  .content-well
    background-color: white
    position: relative
    z-index: 0
    border: 1rem solid #BBB
    padding: 6rem

    &.grow
      flex-grow: 1 !important

    &.clickable:hover
      background-color: #F8F8F8
      color: #6f46b0

  .content-no-grow
    flex-grow: 0
    flex-basis: initial