$margin: 25rem

di-app .page
  max-width: 780rem
  display: flex
  align-items: stretch

  > *
    flex: 1 1

  .flex-columns
    display: flex
    flex-direction: row
    align-items: stretch
    margin-right: -$margin

    > *
      margin-right: $margin
      flex: 1 1

  .flex-rows
    display: flex
    flex-direction: column
    align-items: stretch
    margin-bottom: -$margin

    > *
      margin-bottom: $margin
      flex: 1 1


@media (max-aspect-ratio: 1/1)
  di-app .page
    .m-no-flex
      display: block
      margin: 0

      > *
        margin: 0 0 $margin