di-adventurer-previous-runs-page
  flex: 0 0 600rem !important

  di-previous-run-row
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    border: 0.5em solid #dfeaff
    padding: 0 15rem

    a
      text-decoration: none