di-results-page
  .title
    text-align: center
    font-size: 1.5em
    padding-bottom: 1em
    flex-grow: 0 !important

  .results-list
    line-height: 1.6em
    overflow-y: auto

  .levelup, .done
    flex-grow: 0 !important