di-shop-page
  .shop-items
    display: flex
    flex-wrap: wrap

    $padding: 20rem
    padding: $padding 0 0 $padding !important

    > *
      margin-right: $padding
      margin-bottom: $padding

    di-shop-item
      width: 170rem
      height: 150rem
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly
      border: 2rem dashed currentColor
      box-sizing: border-box
      text-align: center
      padding: 10rem
      cursor: pointer

      .shop-item-image
        > *
          height: 25rem
          width: 25rem

      &:hover
        border-style: solid

di-shop-item-details

  .shop-item-icon
    display: flex
    flex-direction: column
    align-items: center

    height: 25rem
    margin-bottom: 15rem
    > *
      height: 100%

  .chest-details
    display: flex
    flex-direction: column

    > *
      margin-bottom: 6rem

    .chest-image
      align-self: center

  .scaling-info
    display: flex
    flex-wrap: wrap
    flex-direction: column
    height: 7em
    justify-content: space-between
    padding: 1em 1em 0

    > div
      img
        height: 1em

.chest-el
  position: relative
  fill: currentColor
  width: 25rem
  height: 25rem
  img
    height: 50%
    margin-top: -1rem