di-adventurer-skill-row, di-adventurer-item-row
  position: relative
  color: #222

  &.clickable
    cursor: pointer
    &:hover
      .border
        background-color: #dfeaff

  &.locked .border
    color: #999
    border: 0.4rem solid #BBB

  &.blank .border
    border-width: 0.5rem
    border-style: dashed

  .hit-area
    position: absolute
    top: -4rem
    bottom: -4rem
    left: 0
    right: 0

  .border
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    padding: 0 9rem
    height: 100%
    border: 1.2rem solid #666

    background-color: white
    box-sizing: border-box

di-adventurer-skill-row

  .border
    border-radius: 20rem

    i.skill-point
      vertical-align: middle
      margin-right: 2rem

    > *
      width: 100%

  .hidden-skill
    text-align: center
    svg
      vertical-align: top

  .name
    color: black

  .skill-contents
    display: flex
    align-items: center
    justify-content: space-between
    padding-right: 15rem

  .class-identifier
    position: absolute
    top: 50%
    right: 2rem
    transform: translateY(-50%)
    height: 90% !important
    opacity: 1
    .orb-icon
      height: 100%

di-skill-card, di-item-card
  .skill-name
    display: flex
    align-items: center
    svg
      height: 1em
      margin-left: 4rem
      margin-bottom: 2rem
  .obj-border
    position: relative
    padding: 30rem 20rem 16rem
    //margin-top: 10rem
    width: 200rem
    border: 0.5rem solid #BBB
    display: flex
    align-items: center
    justify-content: center

.skill-point-entry
  display: flex
  font-weight: bold
  padding: 3rem 6rem

.tippy-content
  .skill-border
    white-space: initial
    margin: 0 10rem