di-stats-list
  display: flex
  flex-direction: column
  padding: 0

  &.no-icons
    .no-icon
      display: none !important

  di-stat-row
    padding: 5rem 6rem 2rem
    transition: background-color 0.3s ease
    display: flex
    flex-direction: row
    justify-content: space-between
    text-align: left
    $buffColor: #6ee16e
    $debuffColor: #ff8c8c

    .left-side
      display: flex
      flex-direction: row

      img, .no-icon
        height: 1em
        width: 1em
        margin-right: 0.8em
        display: inline-block

    .val
      padding-left: 5rem

    &:hover
      background-color: #d3d0d9
    .val
      font-weight: bold

    &[diff='1'] .val
      color: $buffColor

    &[diff='2'] .val
      color: $debuffColor

    &[diff='3']
      color: $buffColor

    &[diff='4']
      color: $debuffColor
