di-stats-list
  display: flex
  flex-direction: row
  padding: 0
  margin-right: -6rem

  > *
    margin-right: 6rem

  di-stat-row
    padding: 4rem 6rem 0
    transition: background-color 0.3s ease
    display: flex
    flex-direction: row
    justify-content: space-between
    text-align: left
    $buffColor: #6ee16e
    $debuffColor: #ff8c8c

    &.no-icon
      width: 100%

    img
      height: 1em

    .val
      padding-left: 5rem

    &:hover
      background-color: #d3d0d9
    .val
      font-weight: bold

    &[diff='1'] .val
      color: $buffColor

    &[diff='2'] .val
      color: $debuffColor

    &[diff='3']
      color: $buffColor

    &[diff='4']
      color: $debuffColor
