.stats-list
  display: flex
  flex-direction: column
  padding: 6rem 0

  di-stat-row
    padding: 4rem
    transition: background-color 0.3s ease
    display: flex
    flex-direction: row
    justify-content: space-between

    .val
      padding-left: 10rem

    &:hover
      background-color: #d3d0d9
    .val
      font-weight: bold