di-workshop-page

  .right-column
    .symbol
      text-align: center
      margin: 10rem 0
      font-size: 2em

  .tabz-content
     > * > .content-columns
      height: 100%

  .supertitle
    margin-bottom: 10rem

  di-inventory
    margin-top: 10rem

  di-workshop-forge
    .right-column
      di-item-full-details
        height: 200rem
        display: block
      .item-components
        height: 100rem
        display: block
        border-top: 0.5rem solid #BBB

  di-workshop-scrapyard
    .right-column
      .to-scrap
        height: 300rem
      di-workshop-component-row.to-scrap
        height: 30rem

  di-workshop-component-row
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 5rem
    margin-top: 6rem
    font-size: 1.1em

    &.not-enough
      .count-tab
        color: red

    img.component-icon
      margin-bottom: 1rem

    .component-icon
      height: 1em
      width: 2em
      margin-right: 6rem
      text-align: center

    .component-row
      .count-tab
        border: 0.5rem solid #BBB
        padding: 2rem 5rem