di-workshop-page

  .right-column
    .symbol
      text-align: center
      margin: 6rem 0
      font-size: 1.2em

  .tabz-content
     > * > .content-columns
      height: 100%

  .supertitle
    margin-bottom: 10rem

  di-inventory
    margin-top: 10rem

  di-workshop-forge
    .right-column
      di-item-full-details
        padding-top: 8rem
        height: 230rem
        display: block
      .item-components
        height: 40rem
        display: block

  di-workshop-scrapyard
    .right-column
      .to-scrap
        height: 500rem
      di-workshop-component-row.scrap
        flex-grow: 0
    .scrap-button
      font-size: 1.5em
      > *
        margin-right: 0.5em

  di-workshop-component-row
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 5rem
    margin-top: 6rem

    &.not-enough
      .count-tab
        color: red

    img.component-icon
      margin-bottom: 1rem

    .component-icon
      height: 1em
      width: 2em
      margin-right: 6rem
      text-align: center

    .component-row
      .count-tab
        border: 0.5rem solid #BBB
        padding: 2rem 5rem

  di-workshop-inventory
    > .flex-rows
      height: 100%
    di-list
      flex-grow: 1
      margin-top: 10rem