.footer {
  padding: 20px 30px;
  flex-basis: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px black;
}
.footer .twitch-menu-button {
  position: relative;
}
.footer .twitch-menu-button .fa-caret-up {
  float: right;
  margin-left: 10px;
}
.footer .twitch-menu-button .menu {
  position: absolute;
  bottom: 110%;
  right: 0;
  width: 180px;
  border: 1px solid #6441A4;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer .twitch-menu-button .menu button {
  padding: 12px 12px;
  text-align: left;
}
.footer .twitch-menu-button .menu button:hover {
  background-color: #ebe4f6;
}

.fade-appear, .fade-enter {
  opacity: 0;
  transition: opacity 300ms;
}

.fade-appear-active, .fade-enter-active, .fade-appear-done, .fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit-active, .fade-exit-done {
  opacity: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

body {
  font-family: Arial, serif;
  font-size: 15px;
}

button {
  border: 1px solid black;
  padding: 9px 15px;
  background: none;
  cursor: pointer;
}
button:hover {
  background-color: #EEE;
}

.twitch-button {
  background-color: #6441A4;
  text-decoration: none;
  color: white;
  display: inline-flex;
  cursor: pointer;
}
.twitch-button .fa-twitch {
  margin-right: 5px;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.game .page {
  flex-grow: 1;
  padding: 20px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  padding: 20px 30px;
  flex-basis: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px black;
}
.footer .twitch-menu-button {
  position: relative;
}
.footer .twitch-menu-button .fa-caret-up {
  float: right;
  margin-left: 10px;
}
.footer .twitch-menu-button .menu {
  position: absolute;
  bottom: 110%;
  right: 0;
  width: 180px;
  border: 1px solid #6441A4;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer .twitch-menu-button .menu button {
  padding: 12px 12px;
  text-align: left;
}
.footer .twitch-menu-button .menu button:hover {
  background-color: #ebe4f6;
}
.fade-appear, .fade-enter {
  opacity: 0;
  transition: opacity 300ms;
}

.fade-appear-active, .fade-enter-active, .fade-appear-done, .fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit-active, .fade-exit-done {
  opacity: 0;
}