@import './footer.sass'

body
  font-family: Arial, serif
  font-size: 15px
  display: flex
  flex-direction: column

.twitch-button
  background-color: #6441A4
  color: white
  padding: 5px 11px
  text-decoration: none

  .fa-twitch
    margin-right: 5px

.twitch-menu-button
  .fa-caret-up
    float: right
    margin-left: 10px

  .main
    flex-grow: 1

  .footer
    flex-basis: 100px