@import './footer.sass'

html, body, #root
  width: 100%
  height: 100%
  padding: 0
  margin: 0

body
  font-family: Arial, serif
  font-size: 15px

.twitch-button
  background-color: #6441A4
  color: white
  padding: 5px 11px
  text-decoration: none
  cursor: pointer

  .fa-twitch
    margin-right: 5px

.game
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

  .main
    flex-grow: 1
    padding: 20px