.footer
  padding: 20px 30px
  flex-basis: 50px

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  box-shadow: 0 5px 10px black

  .twitch-menu-button
    position: relative

    .fa-caret-up
      float: right
      margin-left: 10px

    .menu
      position: absolute
      bottom: 110%
      right: 0
      width: 180px
      border: 1px solid #6441A4
      background-color: white

      display: flex
      flex-direction: column
      align-items: stretch

      button
        padding: 12px 12px
        text-align: left

        &:hover
          background-color: #ebe4f6
