<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Project DI</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="root"></div>
    <div id="loader" class="show">
        <div class="overlay"></div>
        <div class="middle">
            <div class="message"></div>
            <div class="spin-effect spinner">DI</div>
        </div>
    </div>
    <script defer src="/scripts/game.js"></script>
    <script>
        window.INITIAL_USER_DATA = <%- JSON.stringify(user) %>
    </script>
</body>
</html>