<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Project DI</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/d486ec65d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root"></div>
    <div id="loader" class="show">
        <div class="overlay"></div>
        <div class="middle">
            <div class="message"></div>
            <div class="spin-effect spinner">DI</div>
        </div>
    </div>
    <script>
      window.STARTUP_PARAMS = <%- locals.startupParams ? JSON.stringify(locals.startupParams) : "null" %>
    </script>
    <script defer src="/scripts/game.js"></script>
</body>
</html>