<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id='login-widget'>
        <form>
            <input type='email' name='email' required='required' placeholder='E-mail Address'/>
            <button type='submit'>Login / Signup</button>
        </form>
    </div>
    <script>
        window.magicPublishableKey = "<%= magicPublishableKey %>"
    </script>
    <script defer src="/scripts/login.js"></script>
</body>
</html>