<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <form>
        <label>
            Enter your username: <input type="text" name="displayname" required="required"/>
        </label>
        <button type="submit">Save</button>
        <% if(error){ %>
            <span class="error"><%= error %></span>
        <% } %>
    </form>
</body>
</html>