<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class='new-user-form screen-center'></div>
    <script>
        window.ERROR = <%- error ? JSON.stringify(error) : 'null' %>
    </script>
    <script defer src="/scripts/newuser.js"></script>
</body>
</html>