<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>OAuth Redirect</title>
</head>
<body>
Logging in...
<script>
  window.MAGIC_PUBLISHABLE_KEY = "<%= locals.magicPublishableKey %>"
</script>
<script defer src="/scripts/oauthredirect.js"></script>
</body>
</html>